.body_copy {
	background-color: #2A2A2A;
	color: #ffffff;
	padding: 5rem 0;
	h2 {
		margin-top: 0;
		text-align: center;
		text-transform: uppercase;
	}
	h3 {
		margin-top: 50px;
	}
	a {
		color: #ffffff;
	}
	background-image: url('./assets/img/skyline.png');
	background-size: cover;
	background-position: center bottom;
	padding-bottom: 13rem;
	margin-bottom: -5px;
}