body, input {
	font-family: 'Playfair Display', serif;
}
html {
	font-size: calc(1em + 1vw);
}
@media screen and (min-width: 75em) {
  html {
    font-size: 1.5em;
  }
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0px;
}
h1 {
	font-size: 1.602rem;
}
h2 {
	font-size: 1.424rem;
}
h3 {
	font-size: 1.266rem;
}
h4 {
	font-size: 1.125rem;
}
p {
	font-size: .75rem;
	line-height: 1.5rem;
	text-align: justify;
}