.video {
	.frame_wrapper {
		width: 86%;
		margin: 0 auto;
	}
	position: relative;
	.columns {
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: url('./assets/img/columns.png');
		background-size: cover;
		top: 0;
		z-index: 1;
		pointer-events: none;
	}
}